#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
  text-align: center;
}

.logo {
  height: 2.5em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

li {
  text-align: left;
}

.app-ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  display: flex;
  justify-content: space-between;
}

.app-li {
  margin-bottom: 10px; /* Add some space between list items */
}

.heading {
  font-size: 1.5em;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.user-login,
.user-registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-login > input,
.user-registration > input {
  margin-bottom: 1em;
  height: 2em;
}

.card-container {
  border: 1px solid red;
  margin-bottom: 1em;
  padding: 1em;
}

.green-border {
  border: 1px solid green;
}

.red-border {
  border: 1px solid red;
}
